<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastro Cliente</title>
<link rel="stylesheet" href="estilo.css">
</head>
<body>
	<div id="topo">
	<p><a href="./cadastrocliente.html">Cliente</a></p>
		
		<button>
			<h4>Voltar</h4>
		</button>

	</div>

	<div id="conteudo">

		<div class="container my-2">

			<h1>Lista de Cliente Cadastrados</h1>
			<table border="1" class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Cpf</th>
						<th>Data Nascimento</th>
						<th>Endereço</th>
						<th>Email</th>
						<th>Telefone</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cadastrocliente : ${listaCadastroCliente}">
						<td th:text="${cadastrocliente.nome}"></td>
						<td th:text="${cadastrocliente.cpf}"></td>
						<td th:text="${cadastrocliente.dataNascimento}"></td>
						<td th:text="${cadastrocliente.endereco}"></td>
						<td th:text="${cadastrocliente.email}"></td>
						<td th:text="${cadastrocliente.telefone}"></td>

						<td><a th:href="@{/rh/produtos/{id}(id=${produto.id})}"
							class="btn btn-primary">Alterar</a> <a
							th:href="@{/rh/produtos/excluir/{id}(id=${produto.id})}"
							class="btn btn-danger">Excluir</a></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</body>
</html>