<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security%22%3E
<head>
<meta charset="ISO-8859-1">
<title>Cadastro Cliente</title>
<link rel="stylesheet" href="estilo.css">
</head>
<body>
	<div id="topo">
	<p><a class="link" href="./cadastrocliente.html">Cliente</a></p>
		
		<p><a class="link" href="./index.html">Voltar</a></p>
	</div>

	<div id="conteudo">

		<div class="container my-2">

			<h1>Lista de Cliente Cadastrados</h1>
			<table border="1" class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Cpf</th>
						<th>Data Nascimento</th>
						<th>Endereço</th>
						<th>Email</th>
						<th>Telefone</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="CadastroCliente : ${listaCadastroCliente}">
						<td th:text="${cadastroCliente.nome}"></td>
						<td th:text="${cadastroCliente.cpf}"></td>
						<td th:text="${cadastroCliente.dataNascimento}"></td>
						<td th:text="${cadastroCliente.endereco}"></td>
						<td th:text="${cadastroCliente.email}"></td>
						<td th:text="${cadastroCliente.telefone}"></td>

						<td><a th:href="@{/static/cadastro/{id}(id=${cadastroCliente.id})}"
							class="btn btn-primary">Alterar</a> <a
							th:href="@{/static/cadastro/excluir/{id}(id=${cadastroCliente.id})}"
							class="btn btn-danger">Excluir</a></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</body>
</html>