body{
	font: 100% Lucida Sans, Verdana;
	margin: 15px;
	line-height: 30px;
}

#topo{
	border-radius: 12px;
	margin: 5px;
	background-color: rgb(0, 128, 255);
	padding: 10px;
	color: white;
	text-align: center;
}

#corpo{
	position: relative;
	overflow: auto;
	margin: 5px;
	color: white;
	display: flex;
}

#menu{
	
	width: 220px;
	text-indent: 15px;
	background-color: rgb(0, 128, 255);
	color: white;
	padding: 5px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	height:100%;
}
.link{
	color:white;
}
#conteudo{
	justify-content: center;
	padding: 5px;
	border-radius: 12px;
	width: 100%;
	display: flex;
	
}

#rodape{
	border-radius: 12px;
	margin: 5px;
	background-color: rgb(0, 128, 255);
	padding: 10px;
	color: white;
	text-align: center;
}